html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

.util--text-align-c, .menu__logo .menu__logo__text, .module--circle {
  text-align: center; }

.util--hide-medium-down {
  display: none; }
  @media (max-width: 768px) {
    .util--hide-medium-down {
      display: block; } }

.util--show-medium {
  display: none; }
  @media (min-width: 768px) {
    .util--show-medium {
      display: block; } }

.level {
  padding: 16px 96px; }

.level__inner {
  padding: 16px 32px; }

.level__inner--padding--small {
  padding: 0 16px; }

.level--color-grey {
  background-color: #D3D3D3; }

.level--color-grey-light {
  background-color: #EEEEEE; }

.level--has-background {
  background-size: cover; }

@media (max-width: 768px) {
  .level {
    padding: 32px 64px; }

  .level__inner {
    padding: 16px 16px; } }
@media (max-width: 480px) {
  .level {
    padding: 16px 16px; } }
.util--font-size-xxl, .heading--level-1, .heading--hero {
  font-size: 80px; }

.util--font-size-xl, .heading--level-2 {
  font-size: 56px; }

.util--font-size-l, .heading--level-3, .menu__logo .menu__logo__text, .menu__item--link, .module--callout .module__body p:first-of-type::first-line {
  font-size: 24px; }

.util--font-size-m, p {
  font-size: 16px; }

.util--break-word, p {
  word-break: break-word; }

.heading, .menu__logo .menu__logo__text, .menu__item--link {
  font-family: 'Roboto Condensed', sans-serif; }

.heading--level-2 {
  font-weight: 300; }

.heading--level-3, .menu__logo .menu__logo__text, .menu__item--link {
  text-transform: uppercase; }

.heading--section {
  padding: 0 16px; }

.heading--hero {
  padding: 32px;
  border: 4px solid; }

.heading--color-white {
  color: #FFFFFF; }

p {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5; }

p + p {
  margin-top: 16px; }

a {
  text-decoration: none;
  color: #FFFFFF; }

p a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #B06AB3; }
  p a:hover {
    color: #4568DC; }

@media (max-width: 768px) {
  .util--font-size-xxl, .heading--level-1, .heading--hero {
    font-size: 48px; }

  .util--font-size-xl, .heading--level-2 {
    font-size: 32px; }

  .util--font-size-l, .heading--level-3, .menu__logo .menu__logo__text, .menu__item--link, .module--callout .module__body p:first-of-type::first-line {
    font-size: 16px; }

  .util--font-size-m, p {
    font-size: 16px; }

  .heading--hero {
    padding: 4px; } }
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background-color: #1D1D1D;
  padding: 0 96px;
  z-index: 9999; }

.menu__inner {
  padding: 0 32px; }

.menu__item {
  display: inline-block;
  padding: 14px 16px;
  color: #FFFFFF; }

.menu__logo {
  display: inline-block;
  padding: 14px 16px;
  color: #FFFFFF;
  float: left; }
  .menu__logo .menu__logo__text {
    border: 2px solid #FFFFFF;
    padding: 0 12px; }
  .menu__logo:hover {
    color: #4568DC; }
    .menu__logo:hover .menu__logo__text {
      border: 2px solid #B06AB3; }

.menu__item--icons {
  float: right; }

.menu__item--link {
  float: left;
  height: 56px; }
  .menu__item--link:hover {
    background-color: #474747; }

@media (max-width: 768px) {
  .menu__logo .menu__logo__text {
    position: absolute;
    left: 16px; }

  .menu__items {
    position: absolute;
    width: 200px;
    top: 56px;
    left: -200px;
    background-color: #1D1D1D; }

  .menu__item {
    position: relative;
    display: block;
    float: none;
    width: 200px; } }
.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.flex-row--top {
  align-items: flex-start; }

.flex-row__item {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.flex-row__item--thirds {
  width: 33%; }

.flex-row__item--two-thirds {
  width: 66%; }

.flex-row__item--halves {
  width: 50%; }

.flex-row__item--quarters {
  width: 25%; }

@media (max-width: 768px) {
  .flex-row__item {
    width: 100%; } }
.image-frame {
  width: 100%; }
  .image-frame .image-frame__image {
    width: 100%; }

.image-frame--layered {
  background: #4568DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4568DC, #B06AB3);
  background: linear-gradient(to left, #4568DC, #B06AB3); }
  .image-frame--layered .image-frame__image {
    position: relative;
    top: -8px;
    left: -8px;
    width: 95%; }

.image-frame--small {
  height: 128px;
  width: 128px; }

.site-layout {
  padding-top: 56px; }

.module {
  padding: 16px; }
  .module .module__head {
    padding: 8px 0; }

.module--billboard {
  padding: 160px; }

.module--callout .module__body {
  padding: 16px; }

.module--card .module__body {
  background: #4568DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4568DC, #B06AB3);
  background: linear-gradient(to left, #4568DC, #B06AB3); }
  .module--card .module__body .image-frame__image {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 1; }
    .module--card .module__body .image-frame__image:hover {
      opacity: 0.5; }
.module--card .module__footer {
  background-color: #FFFFFF;
  position: relative;
  top: -8px;
  padding: 16px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }

.module--circle {
  background: #4568DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4568DC, #B06AB3);
  background: linear-gradient(to left, #4568DC, #B06AB3);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin: 16px auto;
  border-radius: 9999px;
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .module--circle:hover {
    opacity: 0.7; }

@media (max-width: 768px) {
  .module--billboard {
    padding: 0 32px; } }
.svg-container {
  padding: 0 4px;
  display: inline; }

.svg__icon {
  height: 32px;
  width: 32px; }

.svg__icon--fill-white {
  fill: #FFFFFF; }
  .svg__icon--fill-white:hover {
    fill: #B06AB3; }

/*# sourceMappingURL=main.css.map */
