//levels
.level {
  padding: $default-spacing (6 * $default-spacing);
}

.level__inner {
  padding: $default-spacing (2 * $default-spacing);
}

//colors
.level--color-coral {
  background-color: $coral;
}

.level--color-lime {
  background-color: $lime;
}

.level--has-background {
  background-size: cover;
}

@media (max-width: $breakpoint-medium) {
  .level {
    padding: $default-spacing (4 * $default-spacing);
  }

  .level__inner {
    padding: 0 $default-spacing;
  }
}
