@mixin purple-gradient {
  background: $violet; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $violet, $purple);
  background: linear-gradient(to left, $violet, $purple);
}
