//variables
$default-spacing: 16px;
$menu-height: 56px;

$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-mobile: 480px;

//colors
$white: #FFFFFF;
$violet: #4568DC;
$purple: #B06AB3;
$charcoal: #1D1D1D;
$grey-darker: #383838;
$grey-dark: #474747;
$grey: #D3D3D3;
$grey-light: #EEEEEE;
