//variables
$default-spacing: 16px;
$menu-height: 56px;

$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-mobile: 480px;

//colors
$white: #FFFFFF;
$navy: #385777;
$blue: #586E80; 
$yellow: #f4e0ab;
$charcoal: #1D1D1D;
$grey-darker: #383838;
$grey-dark: #474747;
$grey-light: #EEEEEE;
