//variables
$default-spacing: 16px;
$menu-height: 56px;

$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-mobile: 480px;

//colors
$white: #FFFFFF;
$navy: #385777;
$teal: #62B0A2;
$lime: #D1DB2F;
$coral: #B02C6F;
$charcoal: #1D1D1D;
$grey-darker: #383838;
$grey-dark: #474747;
